<h1>Welcome to {{hotelName}}</h1>

<div [hidden]="hideRooms">
    numbe of rooms:
    <div [ngStyle]="{'color' : rooms.availableRooms ? 'green': 'red'}" [innerText]="numberOfRooms">
    </div>
</div>

{{rooms?.availableRooms ?? 'No rooms'}}

<!-- {{roomList | json}} -->

<div *ngIf="selectRoom">
    {{selectedRoom | json}}
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="rooms.availableRooms > 0">
    <hinv-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)">
    </hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>